/*

  BUILT FOR PLOXHOST.COM (ALL RIGHTS RESERVED)
  BUILT BY REXSDEV.COM
    COLOR PALLET: f8f8f8-a6fffc-00ada8-00918c-383d3b

*/
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:300,400');
/* BODY */
body {
	  background: url("../img/fallploxhost.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #222;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
/* NAVBAR */
.tiny-nav {
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  position: initial;
  margin-bottom: 45px;
}
.tiny-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tiny-nav li {
  display: inline;
  margin-right: 2px;
}
.tiny-nav li > a {
  padding: 5px;
  color: #fff;
}
.tiny-nav li > a:hover,
.tiny-nav li > a:focus {
  color: #a6fffc;
}
.navxbar {
  min-height: 75px;
  margin-bottom: 0px;
  margin-top: 27px;
}
.navxbar-brand {
  padding: 5px;
  margin-top: 6px;
}
.navxbar-default {
  background-color: rgba(32, 32, 32, 0.5);
  border-color: transparent;
}
.navxbar-default .navxbar-nav > li > a {
  color: #fff;
}
.navxbar-default .navxbar-nav > li > a:focus,
.navxbar-default .navxbar-nav > li > a:hover {
    color: #a6fffc;
    background-color: transparent;
}
.navxbar-default .navxbar-collapse,
.navxbar-default .navxbar-form {
    border-color: rgba(46, 46, 46, 0.5);
}
.navxbar-toggle {
  margin-top: 16px;
  margin-bottom: 0px;
}
.navxbar-default .navxbar-toggle:focus,
.navxbar-default .navxbar-toggle:hover {
    background-color: transparent;
}
.navxbar-default .navxbar-toggle {
    border-color: transparent;
}

.navxbar-default .navxbar-toggle {
  border: none;
}
.navxbar-default .navxbar-nav > .open > a,
.navxbar-default .navxbar-nav > .open > a:focus,
.navxbar-default .navxbar-nav > .open > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.0);
}
.dropdownx-menu {
  min-width: 89.3px;
  margin: 0px 0 0;
  text-align: left;
  background-color: rgba(17, 17, 17, 0.7);
  border: none;
  color: #fff;
  border-radius: 3px;
}
.dropdownx-menu > li > a {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  white-space: nowrap;
}
.dropdownx-menu > li > a:focus,
.dropdownx-menu > li > a:hover {
  color: #a6fffc;
  text-decoration: none;
  background-color: rgba(32, 32, 32, 0.5);
}
.navxbar-default .navxbar-toggle .icon-bar {
    background-color: #19aba6;
}
.color-override {
  margin-top: 0px;
  background-color: #222;
  border-bottom: #00aba8 solid 3px;
  transition: all 600ms ease-in 0s;
	transition-property: all;
	transition-duration: 400ms;
	transition-timing-function: ease-in;
	transition-delay: 0s;
}
.color-override .navxbar-brand {
  padding: 0px;
}
/* BUTTONS */
/* HEADERS */
#header {
  padding: 45px;
  min-height: 250px;
  text-align: center;
  color: #fff;
  background-color: transparent;
}
#header h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(32, 32, 32, 0.5);
  border-left: 4px solid #00ada8;
  padding: 15px;
}
#header-home {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  color: #fff;
}
#header-home h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(32, 32, 32, 0.5);
  border-left: 4px solid #00ada8;
  padding: 15px;
}
/* PAGES */
/* HOME */
#home-featureset {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #fff;
}
#home-featureset .rowx {
  margin-bottom: 25px;
}
#home-featureset h1 {
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
#home-featureset i {
  font-size: 46px;
    text-shadow: 0px 3px 10px #24cdc6,1px 4px 12px rgba(0,0,0,0.15);
}
#home-featureset .feature {
  background-color: #f8f8f8;
  background: -moz-linear-gradient(top,#19aba6 10%,#158f8a  100%);
  background: -webkit-linear-gradient(top,#19aba6 10%,#158f8a  100%);
  background: linear-gradient(to bottom,#19aba6 10%,#158f8a  100%);
  -webkit-box-shadow: 3px 3px 10px 2px rgba(204,204,204,1);
  -moz-box-shadow: 3px 3px 10px 2px rgba(204,204,204,1);
  box-shadow: 3px 3px 10px 2px rgba(204,204,204,1);
  padding: 25px;
  color: #fff;
  border-radius: 4px;
  font-weight: 300;
  min-height: 250px;
}
#home-featureset .feature h2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
#home-featureset .icon {
  background: url(../img/plox-icon.png)center center no-repeat;
  background-size: contain;
  min-height: 100px;
  margin-bottom: 5px;
  margin-top: 15%;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-in 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
  opacity: .3;
}
#home-featureset .icon:hover {
  background: url(../img/plox-icon.png)center center no-repeat;
  background-size: contain;
  filter: none; /* IE6-9 */
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-out 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
  opacity: .8;
}
#home-map {
  background-color: #f8f8f8;
  border-top: #ddd solid 1px;
  border-bottom: 1px solid #ddd;
  padding-top: 25px;
  padding-bottom: 25px;
}
#location-map {
  background: url(../img/map.png)center center no-repeat;
  background-size: contain;
  padding: 15%;
  text-align: center;
}
#home-map .colx-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 375px;
}
#home-map h1 {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-align: center;
}
#location-map .map-marker {
    position: absolute;
}
.map-marker {
    width: 12px;
    height: 12px;
    background: #000;
    border: 2px solid #fff;
    transition: all .3s;
}
#location-map .qc {
  background: #66ffb3;
}
#location-map .ny {
  background: #2196F3;
}
#location-map .tx {
  background: #FF9800;
}
#location-map .fr {
  background: #FF5722;
}
#home-stats {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
#home-stats h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#home-stats .huge {
  font-size: 48px;
  font-weight: 300;
}
#home-reviews {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
#home-reviews .item {
  background-color: #fff;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#home-reviews h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #15908b;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
/* MINECRAFT */
#minecraft-packages {
  padding-top: 25px;
  padding-bottom: 25px;
	text-align: center;
	font-weight: 200;
	color: #222;
  background-color: #fff;
}
#minecraft-packages .rowx {
  margin-bottom: 15px;
}
#minecraft-packages h2{
	color: #222;
	margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
#minecraft-packages ul {
	font-family: 'Oxygen', sans-serif;
	list-style: none;
	padding: 0;
	font-size: 18px;
	color: #555;
}
#minecraft-packages .b {
	font-weight: 700;
	color: #222
}
#minecraft-packages li {
	margin-top: 5px;
	padding: 0;
}
#minecraft-packages .btnx  {
	border-radius: 0px;
}
#minecraft-packages .btnx-success {
    color: #fff;
    background-color: #00ada8;
    border-bottom: 2px solid;
    border-color: #00918c;
}
#minecraft-packages .btnx-success:hover {
    color: #00ada8;
    background-color: #fff;
    border-bottom: 2px solid;
    border-color: #ddd;
}
#minecraft-packages .package {
	margin-top: 20px;
  background-color: #f8f8f8;
  border-bottom: #ddd solid 2px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 25px;
  min-height: 317px;
}
#minecraft-packages .package-mid {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#minecraft-packages p {
  font-size: 24px;
}
#minecraft-features {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #222;
  background-color: #f8f8f8;
}
#minecraft-features i {
  font-size: 18px;
  color: #00ada8;
}
#minecraft-features h1 {
	font-weight: 200;
	color: #222;
	margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#minecraft-features ul {
  list-style-type: none;
}
#minecraft-features li {
  margin-bottom: 10px;
  color: #222;
  filter: none; /* IE6-9 */
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-out 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
  font-size: 15px;
}
#minecraft-features li:hover {
  color: #00ada8;
  filter: none; /* IE6-9 */
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-in 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
}
/* WEB */
#web-hosting {
  background-color: #fff;
  color: #333;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 300;
}
#web-hosting .package {
  background-color: #f8f8f8;
  padding: 4px;
  border-radius: 4px;
  border-bottom: 3px solid #ddd;
  min-height: 290px;
}
#web-hosting .package h2 {
  color: #15908b;
  font-family: 'Montserrat', sans-serif;
}
#web-hosting .package li {
  padding: 5px;
}
#web-hosting .package a {
  color: #333;
}
#web-hosting .colx-md-2 {
  margin-bottom: 25px;
}
#webhosting-features {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  text-align: center;
}
#webhosting-features h1 {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-align: center;
}
#webhosting-features li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-style: normal;
  font-variant: normal;
  font-size: 18px;
  margin-right: 5px;
  color: #00ada8;
}
#webhosting-features-alt {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  text-align: center;
}
#webhosting-features .colx-md-6 p {
  padding: 35px;
}
#webhosting-checklist {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(34, 34, 34, 0.5);
  color: #fff;
}
/* VPS */
#vps-packages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  text-align: center;
}
#vps-packages img {
  width: 70%;
}
#vps-packages h1 {
  font-family: 'Montserrat', sans-serif;
}
#vps-packages h2 {
    font-family: 'Montserrat', sans-serif;
}
#vps-packages p {
	font-weight: 300;
	font-size: 20px;
}
#vps-packages ul {
	font-size: 19px;
    color: #454545;
	font-weight: 400;
	margin: 10px;
  text-align: left
}
#vps-packages li {
	margin: 10px;
}
#vps-packages small {
	color: #777;
	font-weight: 300;
}
#vps-packages .thin {
  color: #00ada8;
}
#vps-packages .panelx {
  border: none;
  border-radius: 12px;
}
#vps-packages .panelx-default {
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
}
#vps-features {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f8f8f8;
  text-align: center;
  border-top: #ddd 1px solid;
}
#vps-features h1 {
  font-family: 'Montserrat', sans-serif;
}
#vps-features .colx-md-6 p {
  padding: 35px;
}
.price-box {
	color: #454545;
}
/* DEDICATD SERVERS */
#dedicated-pricing {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
#dedicated-pricing thead {
	border: 1px solid #ddd;
}
#dedicated-pricing .table-hover>tbody>tr {
    transition: all 600ms ease-out 0s;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
	text-decoration: none;
}
#dedicated-pricing .table-hover>tbody>tr:hover {
    background-color: #ecf0f1;
	color: #222;
    transition: all 600ms ease-out 0s;
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
	text-decoration: none;
}
#dedicated-pricing tbody {
	border: 1px solid #ddd;
	color: #777;
}
#dedicated-pricing table > tbody > tr > td{
	padding: 15px;
	vertical-align: middle;
}
#dedicated-pricing td small:before {
	vertical-align: top;
	content: "\00AE";
}
#dedicated-pricing .price {
  font-size: 23px;
}
#dedicated-pricing tr .price:before {
	content: "$";
	font-size: 70% !important;
	vertical-align: top;
	color: #666;
}
#dedicated-pricing tr .price:after {
	content: "/mo";
	font-size: 50% !important;
	vertical-align: bottom;
	color: #555;
}
/* PARTNERS */
/* ABOUT US */
#about-us {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  color: #222;
}
#about-us h1,
#about-hardware h1,
#about-staff h1 {
  font-family: 'Montserrat', sans-serif;
}
#about-us h2,
#about-hardware h2,
#about-staff h2 {
  font-family: 'Montserrat', sans-serif;
  color: #565656;
}
#about-staff {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f8f8f8;
  border-top: #ddd solid 1px;
  color: #222;
  text-align: center;
}
#about-staff .colx-md-2 {
  color: #333;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  border-radius: 4px;
  padding: 25px;
}
#about-hardware {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  border-top: #ddd solid 1px;
  color: #222;
  text-align: center;
}
#about-hardware ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}
#about-hardware h2 {
  font-size: 24px;
}
#legal {
}

/* ALL CLASSES */
ul .specs {
  font-weight: 300;
  list-style-type: none;
}
.cpu:before {
  content: "Processor: ";
  font-weight: bold;
  color: #00ada8;
  font-family: 'Montserrat', sans-serif;
}
.mem:before {
  content: "Memory: ";
  font-weight: bold;
  color: #00ada8;
  font-family: 'Montserrat', sans-serif;
}
.hdd:before {
  content: "HDD: ";
  font-weight: bold;
  color: #00ada8;
  font-family: 'Montserrat', sans-serif;
}
.ssd:before {
  content: "SSD: ";
  font-weight: bold;
  color: #00ada8;
  font-family: 'Montserrat', sans-serif;
}
.net:before {
  content: "Network: ";
  font-weight: bold;
  color: #00ada8;
  font-family: 'Montserrat', sans-serif;
}
.price:before {
    position: relative;
    content: "$";
    font-size: 40%;
    vertical-align: top;
    top: 9px;
}
.price {
  font-size: 28px;
  font-weight: 400;
	color: #777;
	font-family: 'Montserrat', sans-serif;
}
.mo:after {
    content: "/mo";
    font-size: 30%;
}
.qrt:after {
    content: "/qrt";
    font-size: 30%;
}
.yrly:after {
    content: "/yrly";
    font-size: 30%;
}
#call-to-action {
  text-align: center;
  border-top: solid 1px #ddd;
  background-color: #00ada8;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
}
#call-to-action h1 {
  font-family: 'Montserrat', sans-serif;
}
/* BUTTONS */
.btnx {
  border: none;
}
.btnx-call-to-action {
  border: solid 2px #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 12px;
}
.btnx-call-to-action:hover,
.btnx-call-to-action:focus {
  color: #222;
  background-color: #fff;
  border: 2px solid #fff;
}
.btnx-ordernow {
  background-color: #00ada8;
  border-bottom: 3px solid #00918c;
  color: #fff !important;
  border-radius: 0px;
}
.btnx-ordernow:hover,
.btnx-ordernow:focus {
  background-color: #fff;
  border-bottom: 3px solid #DDD;
  color: #222 !important;
}
/* FOOTER */
#footer1 {
  background-color: rgba(16, 16, 16, 0.5);
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: #00ada8 1px solid;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#footer1 a {
  color: #00ada8;
}
#footer1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  color: #fff;
  padding: 5px;
}
#footer1 .colx-md-3 a,
#footer1 .colx-md-2 a {
  color: #999;
}
#footer1 .colx-md-2 a:hover,
#footer1 .colx-md-3 a:hover {
  color: #00ada8;
}
#footer1 li  {
  margin-bottom: 5px;
}
#footer1 .moved {
   margin-top: 0px;
}
#footer1 .icon {
  background: url(../img/plox-icon.png)center center no-repeat;
  background-size: contain;
  min-height: 100px;
  margin-bottom: 5px;
  margin-top: 20px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-in 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
  opacity: .3;
}
#footer1 .icon:hover {
  background: url(../img/plox-icon.png)center center no-repeat;
  background-size: contain;
  min-height: 100px;
  margin-bottom: 5px;
  filter: none; /* IE6-9 */
  filter: grayscale(0); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  transition: all 600ms ease-out 0s;
	transition-property: all;
	transition-duration: 600ms;
	transition-timing-function: ease-out;
	transition-delay: 0s;
  opacity: .8;
}
#sub-footer {
  background-color: rgba(0, 0, 0, 0.71);
  border-bottom: #222 1px solid;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
#sub-footer .rowx  {
  padding-top: 10px;
}
.morphext > .animated {
    display: inline-block;
}
 /*Addtions  */
#leader {
     margin-top: 0px;
    /*background-color: #535d5c8f;*/
    /* border-bottom: #00aba8 solid 2px; */
    /* border-top: #00aba8 solid 2px; */
    transition: all 600ms ease-in 0s;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

#leader h1 {
	font-weight: 200;
	color: #222;
    margin-bottom: 25px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
}

/*
Adding FAQ styles 

*/

   .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panelx-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon 
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panelx-heading [data-toggle="collapse"].collapsexd:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

/*#map .ny, #map .ch, #map .tx, #map .la {*/
/*    box-shadow: 0 0 0 rgba(255,255,255, 0.5);*/
/*    animation: pulse 2s infinite;*/
/*}*/
