/*
$k-media-breakpoints: (
    // Small screen / phone
    sm: 576px,
    
    // Medium screen / tablet
    md: 768px,
    
    // Large screen / desktop
    lg: 1024px,
    
    // Extra large screen / wide desktop
    xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1600px
)!default;
*/
@media (min-width: 1025px) {
  .k-header {
    background-color: #00ada8;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1); }
    .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link {
      border-radius: 4px; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__link-text {
        color: #ffffff;
        font-weight: 500; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__hor-arrow {
        color: #889dfc; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item > .k-menu__link .k-menu__hor-icon {
        color: #889dfc; }
    .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link {
      background-color: #5971e7; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__link-text, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__link-text, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__link-text {
        color: #ffffff; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__hor-arrow, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__hor-arrow, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__hor-arrow {
        color: #ffffff; }
      .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--here > .k-menu__link .k-menu__hor-icon, .k-header .k-header-menu .k-menu__nav > .k-menu__item.k-menu__item--active > .k-menu__link .k-menu__hor-icon, .k-header .k-header-menu .k-menu__nav > .k-menu__item:hover > .k-menu__link .k-menu__hor-icon {
        color: #ffffff; } }

.k-header .k-header__topbar {
  padding-right: 15px; }
  .k-aside-secondary--enabled .k-header .k-header__topbar {
    padding-right: 0; }
  .k-header .k-header__topbar .k-header__topbar-item .k-header__topbar-icon i {
    color: #ffffff; }
  .k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--user .k-header__topbar-welcome {
    color: #8ca0fe; }
  .k-header .k-header__topbar .k-header__topbar-item.k-header__topbar-item--user .k-header__topbar-username {
    color: #ffffff; }
  .k-header .k-header__topbar .k-header__topbar-item.k-header__topbar--quick-panel-toggler {
    background-color: #4d65dc;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .k-header .k-header__topbar .k-header__topbar-item.k-header__topbar--quick-panel-toggler .k-header__topbar-icon i {
      color: #ffffff; }
  .k-header .k-header__topbar .k-header__topbar-item:hover .k-header__topbar-icon, .k-header .k-header__topbar .k-header__topbar-item.show .k-header__topbar-icon {
    background-color: #5971e7; }
    .k-header .k-header__topbar .k-header__topbar-item:hover .k-header__topbar-icon i, .k-header .k-header__topbar .k-header__topbar-item.show .k-header__topbar-icon i {
      color: #ffffff; }
  .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--user .k-header__topbar-user, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--user .k-header__topbar-user {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #5971e7; }
    .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar-item--user .k-header__topbar-user .k-header__topbar-username, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar-item--user .k-header__topbar-user .k-header__topbar-username {
      color: #ffffff; }
  .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar--quick-panel-toggler, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar--quick-panel-toggler {
    background-color: #5971e7; }
    .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar--quick-panel-toggler .k-header__topbar-icon, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar--quick-panel-toggler .k-header__topbar-icon {
      background-color: transparent !important; }
      .k-header .k-header__topbar .k-header__topbar-item:hover.k-header__topbar--quick-panel-toggler .k-header__topbar-icon i, .k-header .k-header__topbar .k-header__topbar-item.show.k-header__topbar--quick-panel-toggler .k-header__topbar-icon i {
        color: #ffffff; }

@media (max-width: 1024px) {
  .k-header__topbar {
    background-color: #00ada8;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .k-header__topbar--mobile-on .k-header__topbar {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    border-top: 1px solid #5a70df; } }
