/*

	BUILT BY REXS DEVELOPMENT & DESIGN
	BUILT FOR PLOXHOST.COM (ALL RIGHTS RESERVED)

*/
@media only screen and (min-device-width: 320px) and (max-device-width: 426px){
  #footer1 {
    text-align: center;
  }
  .containerx-fluid > .navxbar-collapse,
  .containerx-fluid > .navxbar-header,
  .containerx > .navxbar-collapse,
  .containerx > .navxbar-header {
      margin-bottom: 28px;
      text-align: center;
  }
  @media (min-device-width: 320px) and (max-device-width: 376px) {
    .push-override {
      margin-top: 44px;
    }
  }
  #home-featureset .colx-md-4 {
    margin-bottom: 20px;
  }
  .tiny-nav .floated {
    text-align: center;
  }
  .tiny-nav {
    margin-bottom: 50px;
  }
  #footer1 h1 {
    border-bottom: 3px solid transparent;
  }
  #footer1 .colx-md-3 img {
    width: 100%;
  }
  #minecraft-features ul {
    text-align: center;
    -webkit-padding-start: 0px;
  }
}
@media only screen and (min-device-width: 680px) and (max-device-width: 768px) {
  #footer1 {
    text-align: center;
  }
  #home-featureset .colx-md-4 {
    margin-bottom: 20px;
  }
  #footer1 h1 {
    border-bottom: 3px solid transparent;
  }
  #footer1 .colx-md-3 img {
    width: 50%;
  }
  #location-map .qc {
    left: 262.3003px;
    top: 56.5762px;
  }
  #location-map .ny {
    left: 245.3003px;
    top: 65.5762px;
  }
  #location-map .tx {
    left: 220.3003px;
    top: 79.5762px;
  }
  #location-map .fr {
    left: 392.3003px;
    top: 47.5762px;
  }
}
@media only screen and (min-device-width: 995px) and  (max-device-width: 1025px) {
  #footer1 {
    text-align: center;
  }
  .navxbar-nav > li > a {
    margin-top: 10px;
  }
  #footer1 h1 {
    border-bottom: 3px solid #00ada8;
  }
  .tiny-nav {
    margin-bottom: 50px;
  }
  #footer1 .colx-md-3 img {
    width: 100%;
  }
  .tiny-nav .floated {
    text-align: right;
  }
  .rowx.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  #location-map {
    padding: 40%;
  }
  #location-map .qc {
    left: 145.3003px;
    top: 137.5762px;
  }
  #location-map .ny {
    left: 130.3003px;
    top: 148.5762px;
  }
  #location-map .tx {
    left: 100.3003px;
    top: 159.5762px;
  }
  #location-map .fr {
    left: 282.3003px;
    top: 134.5762px;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .navxbar-nav > li > a {
    margin-top: 10px;
  }
  #footer1 h1 {
    border-bottom: 3px solid #00ada8;
  }
  #footer1 .colx-md-3 img {
    width: 100%;
  }
  .tiny-nav .floated {
    text-align: right;
  }
  #home-reviews {
    min-height: 350px;
  }
  .rowx.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  #location-map {
    padding: 20%;
  }
  #location-map .qc {
    left: 200.3003px;
    top: 67.5762px;
  }
  #location-map .ny {
    left: 190.3003px;
    top: 81.5762px
  }
  #location-map .tx {
    left: 160.3003px;
    top: 102.5762px;
  }
  #location-map .fr {
    left: 402.3003px;
    top: 54.5762px;
  }
}
@media screen and (min-device-width: 1601px) and (max-device-width: 1921px){
  .navxbar-nav > li > a {
    margin-top: 10px;
  }
  #footer1 h1 {
    border-bottom: 3px solid #00ada8;
  }
  #footer1 .colx-md-3 img {
    width: 100%;
  }
  .tiny-nav .floated {
    text-align: right;
  }
  #home-reviews {
    min-height: 350px;
  }
  .rowx.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  #location-map .qc {
    left: 312.3003px;
    top: 57.5762px;
  }
  #location-map .ny {
    left: 305.3003px;
    top: 75.5762px;
  }
  #location-map .tx {
    left: 270.3003px;
    top: 99.5762px;
  }
  #location-map .fr {
    left: 482.3003px;
    top: 57.5762px;
  }
  .tiny-nav {
    margin-bottom: 50px;
  }
}
@media screen and (min-device-width: 1922px){
  .navxbar-nav > li > a {
    margin-top: 10px;
  }
  #footer1 h1 {
    border-bottom: 3px solid #00ada8;
  }
  #footer1 .colx-md-3 img {
    width: 100%;
  }
  .tiny-nav .floated {
    text-align: right;
  }
  #home-reviews {
    min-height: 350px;
  }
  .rowx.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }
  #location-map .qc {
    left: 312.3003px;
    top: 57.5762px;
  }
  #location-map .ny {
    left: 305.3003px;
    top: 75.5762px;
  }
  #location-map .tx {
    left: 270.3003px;
    top: 99.5762px;
  }
  #location-map .fr {
    left: 482.3003px;
    top: 57.5762px;
  }
  .tiny-nav {
    margin-bottom: 50px;
  }
}
